body{
font-family:Arial;
background:#f2f2f2;
padding:20px;
}

.container{
width:85%;
margin:auto;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

h1{
text-align:center;
}

.dashboard{
display:flex;
justify-content:space-around;
margin-bottom:20px;
}

.card{
background:#4CAF50;
color:white;
padding:20px;
width:200px;
text-align:center;
border-radius:10px;
}

input{
padding:10px;
margin:5px;
}

button{
padding:10px 20px;
background:#4CAF50;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:green;
}

table{
width:100%;
border-collapse:collapse;
}

table,th,td{
border:1px solid #ccc;
}

th{
background:#4CAF50;
color:white;
}

th,td{
padding:10px;
text-align:center;
}

.delete{
background:red;
margin-left:5px;
}
